---
#-
#                   __ _                       _   _
#   ___ ___  _ __  / _(_) __ _ _   _ _ __ __ _| |_(_) ___  _ __
#  / __/ _ \| '_ \| |_| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \
# | (_| (_) | | | |  _| | (_| | |_| | | | (_| | |_| | (_) | | | |
#  \___\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|
#                        |___/
#
#- from github.com/tmttn/home-assistant-config

# Core Configuration
default_config:
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js
http: !include includes/http.yaml
websocket_api:


# Template entities (sensors, binary sensors, switches)
template: !include includes/template.yaml

# Inputs and counters
input_boolean: !include includes/input_booleans.yaml
input_datetime: !include includes/input_datetimes.yaml

# Logging and history
recorder: !include includes/recorder.yaml

# Managed via UI
scene: !include scenes.yaml
automation ui: !include automations.yaml
script ui: !include scripts.yaml
script manual: !include scripts-with-secrets.yaml

# Others
group: !include includes/groups.yaml
sensor: !include includes/sensors.yaml
shell_command: !include includes/shell_commands.yaml
notify: !include includes/notify.yaml
wake_on_lan:
utility_meter: !include includes/utility_meter.yaml
camera: !include includes/camera.yaml
evohome: !include includes/evohome.yaml
tts: !include includes/tts.yaml
spotcast: !include includes/spotcast.yaml

# Custom components
pyscript: !include includes/pyscript.yaml

binary_sensor:
  - platform: trend
    sensors:
      humidity_bathroom_trend:
        entity_id: sensor.multi_sensor_bathroom_humidity
        sample_duration: 300
        max_samples: 3

      humidity_storage_trend:
        entity_id: sensor.multi_sensor_storage_humidity
        sample_duration: 300
        max_samples: 3
