---
#-
#                   __ _                       _   _
#   ___ ___  _ __  / _(_) __ _ _   _ _ __ __ _| |_(_) ___  _ __
#  / __/ _ \| '_ \| |_| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \
# | (_| (_) | | | |  _| | (_| | |_| | | | (_| | |_| | (_) | | | |
#  \___\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|
#                        |___/
#
#- from github.com/tmttn/home-assistant-config

# Core Configuration
default_config:
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js
http: !include includes/http.yaml
websocket_api:

# Inputs and counters
input_boolean: !include includes/input_booleans.yaml
input_datetime: !include includes/input_datetimes.yaml

# Logging and history
recorder: !include includes/recorder.yaml

# Managed via UI
scene: !include scenes.yaml
automation ui: !include automations.yaml
script ui: !include scripts.yaml
script manual: !include scripts-with-secrets.yaml

# Others
group: !include includes/groups.yaml
switch: !include includes/switches.yaml
sensor: !include includes/sensors.yaml
binary_sensor: !include includes/binary_sensors.yaml
shell_command: !include includes/shell_commands.yaml
notify: !include includes/notify.yaml
wake_on_lan:
utility_meter: !include includes/utility_meter.yaml
camera: !include includes/camera.yaml
evohome: !include includes/evohome.yaml
tts: !include includes/tts.yaml
spotcast: !include includes/spotcast.yaml

# Custom components
pyscript: !include includes/pyscript.yaml

# Binary sensors

---
#-
#  _     _
# | |__ (_)_ __   __ _ _ __ _   _     ___  ___ _ __  ___  ___  _ __ ___
# | '_ \| | '_ \ / _` | '__| | | |   / __|/ _ \ '_ \/ __|/ _ \| '__/ __|
# | |_) | | | | | (_| | |  | |_| |   \__ \  __/ | | \__ \ (_) | |  \__ \
# |_.__/|_|_| |_|\__,_|_|   \__, |___|___/\___|_| |_|___/\___/|_|  |___/
#                           |___/_____|
#
#- from github.com/tmttn/home-assistant-config

template:
  - binary_sensor:
      - name: "Someone is showering or taking a bath"
        unique_id: someone_showing
        state: >
          {% set humidity = states("sensor.multi_sensor_bathroom_humidity") | float(0) %}
          {% set treshold = 1.05 * state_attr("sensor.humidity_bathroom_stats", "median") | float(0) %}
          {% set derivative = states("sensor.humidity_bathroom_derivative") | float(0) %}
          {{ humidity > treshold and derivative > 0.25 }}

      - name: "Someone is showering in the storage"
        unique_id: someone_showing_storage
        state: >
          {% set humidity = states("sensor.multi_sensor_storage_humidity") | float(0) %}
          {% set treshold = 1.05 * state_attr("sensor.humidity_storage_stats", "median") | float(0) %}
          {% set derivative = states("sensor.humidity_storage_derivative") | float(0) %}
          {{ humidity > treshold and derivative > 0.25 }}

      - name: "Any motion detected"
        unique_id: motion_detected
        state: >
          {{ is_state("binary_sensor.activity_in_kitchen", "on")
              or is_state("binary_sensor.activity_in_living_room", "on")
              or is_state("binary_sensor.activity_in_hall", "on")
              or is_state("binary_sensor.activity_in_toilet", "on")
              or is_state("binary_sensor.activity_in_bathroom", "on")
              or is_state("binary_sensor.activity_in_guest_bedroom", "on") }}

      - name: "Any motion detected in last hour"
        unique_id: motion_detected_in_last_hour
        state: >
          {{ is_state("binary_sensor.motion_detected", "on") }}
        delay_off:
          hours: 1

      - name: "Someone in the house in the last hour"
        unique_id: someone_in_the_house_in_last_hour
        state: >
          {{ is_state("binary_sensor.motion_detected_in_last_hour", "on")
              or is_state("group.persons", "home") }}

      - name: "Activity in the bathroom"
        unique_id: activity_in_bathroom
        state: >
          {{ is_state("binary_sensor.someone_showering", "on") }}
        delay_off:
          minutes: 3

      - name: "Activity in the living room"
        unique_id: activity_in_living_room
        state: >
          {{ is_state("binary_sensor.motion_sensor_living_room", "on")
              or is_state("media_player.tv", "on")
              or is_state("binary_sensor.openclose_back_door", "on")
              or is_state("binary_sensor.openclose_living_room_door", "on") }}
        delay_off:
          minutes: 20

      - name: "Activity at the toilet"
        unique_id: activity_in_toilet
        state: >
          {{ is_state("binary_sensor.motion_sensor_toilet", "on") }}
        delay_off:
          minutes: 5

      - name: "Activity in the kitchen"
        unique_id: activity_in_kitchen
        state: >
          {{ is_state("binary_sensor.motion_sensor_kitchen", "on") }}
        delay_off:
          minutes: 5

      - name: "Activity in the storage"
        unique_id: activity_in_storage
        state: >
          {{ is_state("binary_sensor.openclose_storage_door", "on")
              or is_state("binary_sensor.someone_showering_storage", "on")}}
        delay_off:
          minutes: 5

      - name: "Activity in the hall"
        unique_id: activity_in_hall
        state: >
          {{ is_state("binary_sensor.motion_sensor_lower_hall", "on")
              or is_state("binary_sensor.motion_sensor_lower_hall_2", "on")
              or is_state("binary_sensor.motion_sensor_upper_hall", "on")
              or is_state("binary_sensor.openclose_front_door", "on")
              or is_state("binary_sensor.openclose_living_room_door", "on") }}
        delay_off:
          minutes: 1

      - name: "Activity in the guest bedroom"
        unique_id: activity_in_guest_bedroom
        state: >
          {{ is_state("binary_sensor.motion_sensor_guest_bedroom", "on") }}
        delay_off:
          minutes: 1

      - name: "Activity outside the bedroom"
        unique_id: activity_outside_bedroom
        state: >
          {{ is_state("binary_sensor.activity_in_hall", "on")
              or is_state("binary_sensor.activity_in_living_room", "on")
              or is_state("binary_sensor.activity_in_toilet", "on")
              or is_state("binary_sensor.activity_in_kitchen", "on")
              or is_state("binary_sensor.activity_in_bathroom", "on")
              or is_state("binary_sensor.activity_in_storage", "on") }}
        delay_off:
          minutes: 1

      - name: "Washing machine"
        unique_id: washing_machine
        state: >
          {{ is_state("sensor.washing_machine_status", "running") }}
        delay_off:
          minutes: 1
        icon: >
          {% if is_state("binary_sensor.washing_machine", "on") %}
            mdi:washing-machine
          {% else %}
            mdi:washing-machine-off
          {% endif %}

      - name: "Dishwasher"
        unique_id: dishwasher
        state: >
          {{ states("sensor.dishwasher_current_consumption") | float(0) > 3 }}
        delay_off:
          minutes: 3
        icon: >
          {% if is_state("binary_sensor.dishwasher", "on") %}
            mdi:dishwasher
          {% else %}
            mdi:dishwasher-off
          {% endif %}

      - name: "Espresso machine"
        unique_id: espresso_machine
        state: >
          {{ states("sensor.espresso_machine_power") | float(0) > 3 }}
        delay_off:
          minutes: 3
        icon: mdi:coffee-maker

      - name: "Tumble dryer"
        unique_id: tumble_dryer
        state: >
          {{ states("sensor.tumble_dryer_current_consumption") | float(0) > 350 }}
        delay_off:
          minutes: 10
        icon: >
          {% if is_state("binary_sensor.tumble_dryer", "on") %}
            mdi:tumble-dryer
          {% else %}
            mdi:tumble-dryer-off
          {% endif %}

      - name: "Worked enough today"
        unique_id: worked_enough_today
        state: >
          {{ states("sensor.time_at_work_today") | float(0) > 8 }}
        icon: mdi:briefcase

      - name: "Any light is on"
        unique_id: any_light_on
        state: >
          {% set automatic_lights_on = is_state("light.automatic_lights", "on") %}
          {% set bedroom_lights_on = is_state("light.bedroom_lights", "on") %}
          {% set living_room_lights_on = is_state("light.living_room_lights", "on") %}
          {% set bathroom_lights_on = is_state("light.bathroom_lights", "on") %}
          {% set guest_bedroom_lights_on = is_state("light.guest_bedroom_lights", "on") %}
          {{ automatic_lights_on or bedroom_lights_on or living_room_lights_on or bathroom_lights_on or guest_bedroom_lights_on }}

      - name: "Anything is on"
        unique_id: anything_on
        state: >
          {% set light_on = is_state("binary_sensor.any_light_on", "on") %}
          {% set tv_on = is_state("media_player.tv", "on") %}
          {{ light_on or tv_on }}

      - name: "Vacuum day today"
        unique_id: vacuum_day
        # XXX: was '("Mon", "Wed", "Sun")'  pre-corona because now we're mostly at home
        state: >
          {{ as_timestamp(now()) | timestamp_custom("%a") in ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun") }}

      - name: "No one is home"
        unique_id: no_one_home
        state: >
          {{ not is_state("person.tom", "home")
              and not is_state("person.tanja", "home") }}

- platform: trend
  sensors:
    humidity_bathroom_trend:
      entity_id: sensor.multi_sensor_bathroom_humidity
      sample_duration: 300
      max_samples: 3

    humidity_storage_trend:
      entity_id: sensor.multi_sensor_storage_humidity
      sample_duration: 300
      max_samples: 3