---
name: Yaml Lint
on: [push]
jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@master
        with:
          config_file: .github/yamllint-config.yml
